{
    debug
}

# change url to the deployed server
http://127.0.0.1 {
    # https://caddyserver.com/docs/caddyfile/directives/header
	header {
		# Hide "Server: Caddy"
		-Server
		
		# prevent attacks such as Cross Site Scripting (XSS)
		Content-Security-Policy default-src 'self' *.cloud.skynewz.dev
		
		# enable the cross-site scripting (XSS) filter built into modern web browsers
		X-XSS-Protection 1; mode=block

		# ensures the connection cannot be establish through an insecure HTTP connection 
		Strict-Transport-Security max-age=31536000; includeSubDomains; preload

		# clickjacking protection
		X-Frame-Options DENY

		# provides clickjacking protection. Disable iframes
		X-Frame-Options: SAMEORIGIN

		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff

		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
	}
    
    # https://caddyserver.com/docs/caddyfile/directives/respond
	# Replace backends health checks and provide one for this LB
	respond /health 200

    # https://caddyserver.com/docs/caddyfile/directives/log
	log {
		output stdout
		format console
	}

    # https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
	reverse_proxy * {
		# Specify backend here
		to chatr-1:5000
		to chatr-2:6000
		to chatr-3:7000

		lb_policy least_conn
		lb_try_duration 1s
		lb_try_interval 250ms

		health_path     /api/v1/healthcheck # Backend health check path
		# health_port     80 # Default same as backend port
		health_interval 10s
		health_timeout  2s
		health_status   200
	}
}